language: node_js
node_js:
  - "8"
script:
  - npm install
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: build/
  repo: https://github.com/marceloabk/z-editor.github.io
  target_branch: master
  on:
    branch: master