.side-panel {
  position: fixed;
  top: 90px;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #f8f9fa;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
  border-left: 1px solid #ccc;
}

.symbol-section {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
