.tools-bar {
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 10;
}

.separator {
  margin: 0 10px;
  border-left: 1px solid #ccc;
  height: 25px;
  align-self: center;
}

.supsubscript {
  font-weight: 600;
}

.select-box {
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 4px;
  font-size: 16px;
  background-color: white;
  outline: none;
  margin-left: 4px;
}

.select-box:focus {
  border-color: lightgrey;
  box-shadow: none;
  outline: none;
}

.select-box::-ms-expand {
  display: none;
}
