.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  background: linear-gradient(150deg, #3366ff, #3333cc);
  height: 40px;
  width: 100%;
  position: fixed;
}

.logo {
  float: left;
  font-size: 15px;
  color: white;
  margin: 10px;
}

.github-button {
  float: left;
  margin: 10px;
  color: white;
  font-size: 13px;
}
