body{
  font-family: "Georgia","Cambria","Times New Roman","Times","serif";
  line-height: initial;
  margin: 0;
  background: #F7F7F7;
}

.public-DraftEditor-content > div > *:first-child{
  margin-top: 1px;
}
.public-DraftEditor-content > div > *:not(:first-child){
  margin-top: 39px;
}

.header {
  font-family: "Lucida Grande";
  font-weight: 700;
  line-height: 1.15;
  margin-top: 39px;
  margin-bottom: 0;
}
.h1{
  font-size: 52px;
}
.h2{
  font-size: 44px;
}
.h3{
  font-size: 36px;
}
.h4{
  font-size: 28px;
}
.header + .header, .header + * + .header {
  margin-top: 1px!important;
  font-weight: initial;
  color: rgba(0,0,0,.44);
}
.header + .paragraph, .header + * + .paragraph {
  margin-top: 10px!important;
}

.Zeditor-container {
  width: 100%;
  height: 100%;
}

.Zeditor-root {
  background: white;
  -webkit-font-smoothing: antialiased;
  margin: 40px auto;
  width: 700px;
}

.Zeditor-editor {
  cursor: text;
  font-size: 15px;
  line-height: 26px;
  min-height: 34px;
  padding: 25px;
}

.Zeditor-button {
  margin-top: 10px;
  text-align: center;
}

.Zeditor-handle {
  color: rgba(98, 177, 254, 1.0);
  direction: ltr;
  unicode-bidi: bidi-override;
}

.Zeditor-hashtag {
  color: rgba(95, 184, 138, 1.0);
}

.Zeditor-tex {
  background-color: #fff;
  cursor: pointer;
  margin: 20px auto;
  padding: 20px;
  -webkit-transition: background-color 0.2s fade-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.Zeditor-activeTeX {
  color: #888;
}

.Zeditor-panel {
  font-family: 'Helvetica', sans-serif;
  font-weight: 200;
}

.Zeditor-panel .Zeditor-texValue {
  border: 1px solid #e1e1e1;
  display: block;
  font-family: 'Inconsolata', 'Menlo', monospace;
  font-size: 14px;
  height: 110px;
  margin: 20px auto 10px;
  outline: none;
  padding: 14px;
  resize: none;
  -webkit-box-sizing: border-box;
  width: 500px;
}

.Zeditor-buttons {
  text-align: center;
}

.Zeditor-saveButton,
.Zeditor-removeButton {
  background-color: #fff;
  border: 1px solid #0a0;
  cursor: pointer;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin: 10px auto;
  padding: 6px;
  -webkit-border-radius: 3px;
  width: 100px;
}

.Zeditor-removeButton {
  border-color: #aaa;
  color: #999;
  margin-left: 8px;
}

.Zeditor-invalidButton {
  background-color: #eee;
  border-color: #a00;
  color: #666;
}

.Zeditor-insert {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 30px;
  position: fixed;
  right: 30px;
}
.Zeditor-insert2 {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 30px;
  position: fixed;
  right: 160px;
}

.Zeditor-insert3 {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  bottom: 30px;
  position: fixed;
  right: 300px;
}

.logo{
  float: left;
  font-size: 30px;
  color: white;
  margin: 15px;
}

.github-button{
  float: left;
  margin: 15px;
  margin-top: 26px;
  color: white;
}

.flex-container {
  margin-top: 100px;
}

.head {
  /*background: linear-gradient(150deg, #ffb347, #ffcc33);*/
  background: linear-gradient(150deg,#3366ff, #3333cc);

  height: 65px;
  top:0;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.container-content {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.button{
  outline: 0;
  cursor: pointer;
  float: right;
  margin: 12px;
  background: transparent;
  border-radius: 30px;
  border: 1px solid transparent;
  /* font-weight: bold; */
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
}
.button:hover{
  border: 1px solid rgba(255, 255, 255, 0.51);
}
.button.active{
  border: 1px solid rgba(255, 255, 255, 0.51);
}

.sidepanel{
  position: fixed;
  left: 30px;
  top: 200px;
  background: white;
  padding: 10px 30px 10px 30px;
}
.sidepanel .info{
  font-size: 10px;
  color: #666;
  margin: 10px 0 10px 0;
  text-transform: uppercase;
}

.sidepanel .item{
  margin-bottom: 5px;
}

.block {
  margin-bottom: 10px;
}

.block-todo {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #f7f7f7;
  margin-bottom: 10px;
  /*box-shadow: inset 0px 0px 10px 2px #f7f7f7;*/
  border-radius: 4px;
}

.block-todo input[type=checkbox] {
  position: absolute;
  top: 10px;
  left: 0px;
  cursor: pointer;
}