body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: initial;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .header {
    display: none;
  }

  .tools-bar {
    display: none;
  }

  .side-panel {
    display: none;
  }

  body * {
    visibility: hidden;
  }

  .page * {
    visibility: visible;
  }

  .page {
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
    top: -150px;
    left: 0;
    margin: 0;
  }
}
